.dailyJournal {
    display: flex;
    flex-direction: column;

}

#radioContainer {
    border: 1px solid black;
    padding: 20px 0px 20px 0px
}

.entryLog {
    border: 1px solid black;
}

#moodInput {
    display: flex;
}